producer.log
reset.sh
apache-flink*.tar.gz
/FlinkScripts/flink-sql-connector-kafka-1.17.1.jar
/temp.csv
/out600_combined+header.csv
/profileNifi.txt
/dataset.csv
/ScriptSetUpNIFI/file1.txt
/ScriptSetUpNIFI/file2.txt
/ScriptSetUpNIFI/Credenziali.txt
/FlinkScripts/__pycache__
/SparkScripts/CHECKPOINT